body {
    margin: 0;
    padding: 0;
    font-family: "Outfit", sans-serif;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.navbar {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 6vw;
    /* justify-content: space-evenly; */
    background-color: #EEF7FC;
    position: fixed;
    z-index: 5;
}

.logo {
    display: flex;
    align-items: center;
    width: 30vw;
    margin-left: 0vw;
    justify-content: space-around;
    overflow: hidden;
}

.home{
    width: 3vw;
}

.menu {
    display: flex;
    align-items: center;
    width: 70vw;
    justify-content: space-around;
    margin-right: 0vw;
}

.menu a {
    font-size: 1.5vw;
    text-decoration: none;
    color: #0060AF;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.logo-BCA {
    width: 15vw;
    height: auto;
}

.menu img{
    width: 2vw;
    height: auto;
}

.notif-icon{
    cursor: pointer;
}

.slide-menu {
    z-index: 1;
    font-family: "Poppins", sans-serif;
    border-radius: 0 0 0 35px;
    position: fixed;
    display: flex;
    justify-content: center;
    top: 60px;
    right: -350px; 
    /* right: -400px;  */
    /* to hid the slide menu */
    width: 350px;
    /* width: 400px; */
    height: 430px; 
    /* height: 480px;  */
    background-color: #DFEDF5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: right 0.3s ease-in-out;
    overflow-y: auto; 
    /* to enable scroll */
  } 
  
  
  .menuwrapper{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-top: 2vw;
    color: #0060AF;
    font-weight: 600;
    font-size: 10px
    /* font-size: 12px */
  }
  
  .menuwrapper h2{
    font-size: 2.2em;
    margin-top: 25px;
    margin-bottom: 5px;
  }
  
  .slide-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .slide-menu ul li {
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    display: flex;
    /* justify-content: center; */
  }

  .slide-menu li{
    align-items: center;
  }
  
  .slide-menu ul li img {
    width: 40px;
    height: 40px;
    margin-right: 20px;
  }
  
  .notification-content {
    flex: 1;
    font-size: 1.25em;
  }

  .notification-content p{
    margin: 0 auto;
  }
  
  .notification-date {
    font-size: 	0.9375em;
    font-style: italic;
    font-weight: 400;
  }
  
  .notifdivider{
    width: 100%;
    border-color: #0060AF;
  } 


.body-no-scroll {
    overflow: hidden;
}

.wrapper-full {
    overflow: hidden;
    width: 100vw;
    height: auto;
    margin-bottom: 6vh;
    margin-top: 10vh;
}


.container{
    width: 100vw;
    height: 600px;
    margin: 0 0 auto;
    background-color: #DFEDF5;
}


.container-content {
    margin: 3vh 5vw;
    display: flex;
    flex-direction: column;
}

.container-contentmain {
    margin: 8vh 5vw;
}

.text-title{
    margin: 1.5vh 0vw;
    font-size: 50px;
    color: #0060AF;
    font-weight: 500;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.garis {
    width : 100%;
}

.card-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: hidden;
    gap: 80px;
    width: 100%;
    height: 100%;
    margin-top: 6vh;
    margin-bottom: 8vh;
}

.card {
    position : relative;
    display : flex;
    flex-direction : column;
    background-repeat: no-repeat;
    background-size: cover;
    height: 259px;
    width: 344px;
    color: white;
    font-weight: bold;
    font-size: 26px;
    text-shadow: 3px 4px 5.3px rgba(0, 0, 0, 1);
}

.card img{
    border-radius: 12px;
    z-index: -1;
    position: absolute;
    border-radius: 12px;
    box-shadow: 6px 7px 7.6px rgba(0, 0, 0, 0.25);
}

.card button{
    z-index : 1;
    border-radius: 25px;
    background-color: white;
    border: none;   
    width: 130px;
    height: 32px;
    margin-top: -50px;
}

/* .card-wrapper > div:nth-child(1), div:nth-child(4), div:nth-child(7) {
    align-items: start;
} */

/* .card-wrapper > div:nth-child(3), div:nth-child(6), div:nth-child(9) {
    align-items: end;
} */


.name p{
    position: absolute;
    top: 18vh;
    left: 2vw;
}

.buttonWrap {
    position : absolute;
}

.booknowbutt {
    position : absolute;
    top : 27vh;
    left : 2vw;
}

.booknowbutt p{
    position : absolute;
    left : 16px;
    bottom: -88px;
    width : 100px;
    height : 100px;    
    color: black;
    font-weight: 600;
    text-shadow: none;
    font-size: 20px;
    margin-top: 0;
}

.sergun p{
    position: absolute;
    top: 13.7vh;
    left: 2vw;
    max-width: 20vw;
}

label{
    font-family: "Poppins", sans-serif;
}

input[type="text"],
input[type="file"],
select{
    width: 100%;
    height: 30px;
    border-radius: 8px;
    border: none;
    margin-bottom: 15px;
}

.addf{
    border: none;
    box-shadow: 3px 4px 4.7px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    font-size: 15px;
    width: 100px;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.addf:hover{
    filter: brightness(90%);
}

.addfimg{
    width: 15px;
    height: 20px;
}

form > div:last-of-type {
    width: 100%;
    display: flex;
    justify-content: end;
}

.sub{
    background-color: #0060AF;
    color: white;
    height: 35px;
    width: 120px;
}

.overlay{
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.6);
    
}

#drop-area{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    border-radius: 48px;
    width: 50%;
    height: 70%;
    box-shadow: 5px 5px 19px rgba(0, 0, 0, 0.25);
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

#popupcontent{
    width: 90%;
    height: 85%;
}

#img-view{
    padding: 3%;
    height: 54%;
    width: 94%;
    background-size: cover;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-width: 2px;
    border-color: rgba(177, 191, 208, 1);
    border-style: dashed;
    border-radius: 24px;
    border-spacing: 100px !important;
    background-repeat: no-repeat;
}

#imgcontent{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#imgvector{
    width: 9vw;
    height: 8vw;
}

#support{
    color: #969DB2;
    font-size: 15px !important;
}

.bedaSendiri {
    height : 70.3333333px;
    margin-bottom: 13px;
}
.dropimg p{
    margin: 1px;
    font-size: 25px;
    font-weight: 300;
}

.orline{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.line{
    flex: 1px;
    border-bottom: 1px solid #93969A;
}

.orline p{
    padding: 0 10px;
    color: #93969A;
}

.import{
    display: flex;
    flex-direction: column;
}

.fileInput {
    opacity: 0;
    width: 100% !important;
    height:40px !important;
    cursor: pointer;
    position: absolute;
    background-color: purple;
}

.filebutton {
    background-color: #F1F4F9;
    color: #AAB6C1;
    border-radius: 6px;
    height: 40px;
    position: relative;
    cursor: pointer !important;
}

.addbutton{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
  }

  .done{
    margin-top: 15px;
  }

  .buttonDone {
    float: right;
  }

.dropdown {
    position: relative;
    width: 100%;
    margin-bottom: 5px;
}
    
.dropdown-toggle {
    font-family: "Poppins", sans-serif;
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: white;
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: absolute;
}
  
.dropdown-options {
    display: none;
    position: absolute;
    background-color: white;
    border: none;
    border-radius: 8px 8px 8px 8px;
    width: 100%;
}
  
.dropdown-option {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.bp3{
    border-radius: 8px 8px 0 0;
}

.ti19{
    border-radius: 0 0 8px 8px;
}
  
.dropdown-option:hover {
    background-color: #f9f9f9;
    filter: brightness(90%);
}

.caret{
    width: 15px;
    height: 12px;
    background-color: transparent;
}

.footer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
}

.footer p {
    color: #1F6198;
    margin: 10px;
}
  
@media screen and (max-width: 650px){
    .overlay{
        z-index: 1;
    }

    .imgvector{
        width: 15vw;
        height: 15vw;
    }
}

@media screen and (max-width: 890px){
    .popup{
        height: 65vh;
    }
}
