.navbar {
    height: 120px;
}

.d-flex {
    display: flex;
}

.flex-direction-column {
    flex-direction: column;
}

.flex-direction-row {
    flex-direction: row;
}

.justify-content-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.w-100 {
    width: 100vw;
}

.bg-primary {
    background-color: #0060AF;
}

.bg-white {
    background-color: white;
}

.text-primary {
    color: #0060AF;
}

.d-inline {
    display: inline;
}
.text-right {
    text-align: right;
}

.brand {
    padding: 0 20px;
    width: 30vw;
}
.menu {
    width: 70vw;
}

.menu ul li{
    display: inline;
    padding-right: 40px;
    font-weight: 700;
    font-size: 20px;
}

.overlay {
    width: 50vw;
}
.overlay-black {
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    /* overflow-x: hidden; */
}

.wrapper {
    background: url("./img/rtb.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 100vh;
}
.title {
    font-weight: 800;
    padding:10px 20px;
    padding-left: 40px;
    font-size: 80px;

}
.text-white {
    color: white;
}
.bg-cyan {
    background-color: #DFEDF5;
}
.about {
    height: 400px;
}
.text-center {
    text-align: center;
}
.p-10 {
    padding: 40px;
    padding-top: 0;
}

.about {
    position: relative;
    z-index: 3;
}

.about h2 {
    font-size: 45px;
}
.about p {
    font-size: 25px;
}

.maps {
    top: 300px;
    position: absolute;
    z-index: 3;
}

.ellipse-1 {
    top: 1500px;
    position: absolute;
    z-index: 2;
    right: -250px;
}
.dormitory-supervisor {
    margin-top: 1200px;
}
.flex-wrap {
    flex: wrap;
}

.card-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vw;
    gap: 20px;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.card {
    background-repeat: no-repeat;
    background-size: cover;
    height: 259px;
    width: 344px;
    color: white;
    font-weight: bold;
    font-size: 26px;
    text-shadow: 3px 4px 5.3px rgba(0, 0, 0, 1);
}

.card img{
    border-radius: 12px;
    z-index: -1;
    position: absolute;
    border-radius: 12px;
    box-shadow: 6px 7px 7.6px rgba(0, 0, 0, 0.25);
}

.name{
    margin-top: 170px;
    margin-left: 30px;
}

.name p{
    margin-bottom: 10px;
}

.card button{
    position : absolute;
    border-radius: 25px;
    background-color: white;
    border: none;
    width: 130px;
    height: 32px;
    margin-top: -50px;
}

.booknowbutt p{
    position : absolute;
    left : 41.3vw;
    color: black;
    font-weight: 600;
    text-shadow: none;
    font-size: 20px;
    margin-top: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Outfit", sans-serif;
}

.container{
    margin: 0 auto;
    background-color: #DFEDF5;
}

.wrapper-full {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.container-content {
    margin: 20px 25px;
}

.text-title{
    color: #0060AF;
    font-weight: 500;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

label{
    font-family: "Poppins", sans-serif;
}

input[type="text"],
input[type="file"],
select{
    width: 100%;
    height: 30px;
    border-radius: 8px;
    border: none;
    margin-bottom: 15px;
}

.des input[type=text] {
    height: 100px;
}

.addf{
    border: none;
    box-shadow: 3px 4px 4.7px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    font-size: 15px;
    width: 10%;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.addf:hover{
    filter: brightness(90%);
}

.addfimg{
    width: 20px;
    height: 20px;
}

.sub{
    margin-left: 90%;
    background-color: #0060AF;
    color: white;
    height: 40px;
}

.overlay{
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.6);
    
}

.popup{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    border-radius: 48px;
    width: 50%;
    height:60%;
    box-shadow: 5px 5px 19px rgba(0, 0, 0, 0.25);
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.popupcontent{
    width: 90%;
    height: 85%;
}

.dropimg{
    padding: 3%;
}

.mid{
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.dropimg p{
    margin: 1px;
    font-size: 25px;
    font-weight: 300;
}

.support{
    color: #969DB2;
    font-size: 15px !important;
}

.dashed-border {
    border-width: 2px;
    border-color: rgba(177, 191, 208, 1);
    border-style: dashed;
    border-radius: 24px;
    border-spacing: 100px !important;
}
  

.orline{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.line{
    flex: 1px;
    border-bottom: 1px solid #93969A;
}

.orline p{
    padding: 0 10px;
    color: #93969A;
}

.import{
    display: flex;
    flex-direction: column;
}

.fileinput {
    opacity: 0;
    width: 100% !important;
    height:40px !important;
    cursor: pointer;
    position: absolute;
    background-color: purple;
  }
  
  .filebutton {
    background-color: #F1F4F9;
    color: #AAB6C1;
    border-radius: 6px;
    height: 40px;
    position: relative;
    cursor: pointer !important;
  }

  .addbutton{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    /* cursor: pointer !important; */
  }

  .done{
    margin-top: 15px;
  }

.dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
    margin-bottom: 15px;
}

.dropdown-toggle{
    /* border-radius: 8px 8px 0 0 !important; */
    /* z-index: -1; */

}
    
.dropdown-toggle {
    font-family: "Poppins", sans-serif;
    padding: 10px;
    /* font-size: 16px; */
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: white;
    width: 100%;
    display: flex;
    align-items: start;
    position: absolute;
}

.dd{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
  
.dropdown-options {
    display: none;
    position: absolute;
    background-color: white;
    border: none;
    /* border-top: none; */
    border-radius: 0 0 8px 8px;
    width: 100%;
}
  
.dropdown-option {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
  
.dropdown-option:hover {
    background-color: #f9f9f9;
    /* filter: brightness(50%); */
}

.caret{
    z-index: 1;
    width: 3%;
    height: 4%;
    background-color: pink;
}
  
  