.container-back{
    display: flex;
    align-items: center;
    margin-left: 5vw;
    margin-top: 11vw;
    /* margin-top: 20vh; */
}

.back{
    position: absolute;
}

.back img{
    width: 8vw;
}

@media screen and (max-width: 820px){
    .container-back{
        margin-top: 12vw;
    }
}