/*
tinggi atau lebar pake vw(width) vh(height)
margin padding pake rem
font size pake em
border dkk pake px
*/

*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

body{
    font-family: "Poppins", sans-serif;  
    background: url("/img/bg_logo.png"), linear-gradient(#FCFFFF ,#DFEDF5);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-attachment: scroll;
    /* position: relative;
    overflow: hidden; */
    
}

/*
.navbar{
    margin: 4.438rem 5.5rem 0rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
} */
.navbar {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 5.5vw;
    /* justify-content: space-evenly; */
    /* background-color: #EEF7FC; */
    position: fixed;
    z-index: 5;
}

.logo {
    display: flex;
    align-items: center;
    width: 30%;
    margin-left: 0vw;
    justify-content: space-around;
    overflow: hidden;
}

.home{
    width: 3vw;
}
/*copy perubahan navbar*/
.menu-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70%;
}

.menu {
    display: flex;
    align-items: center;
    width: 90%;
    justify-content: space-around;
    margin-right: 0vw;
}

.menu a {
    font-size: 1.4vw;
    text-decoration: none;
    color: #0060AF;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

/*tambahan*/
.menu a:hover{
    text-decoration: underline;
    text-decoration-thickness: 2px;
    color: #0060AF;
    transition: text-decoration 0.3s ease;
}

.menu p{
    font-size: 1.5vw;
    text-decoration: none;
    color: #EEF7FC;
    opacity: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.logo-BCA {
    width: 15vw;
    height: auto;
}

.notif-icon{
    width: 10%;
    display: flex;
    justify-content: center;
}

.notif-icon img{
    width: 2vw;
    height: auto;
    display: none;
}

/*Hamburger menu*/
.hamburger-menu{
    display: none;
    justify-content: center;
    flex-direction: column;
    height: 7vw;
    background-color: #EEF7FC;
    position: relative;
}

.hamburger-menu input{
    position: absolute;
    width: 40px;
    height: 30px;
    left: 7.5vw;
    top: 1vw;
    opacity: 0;
    cursor: pointer;
    z-index: 7;
}

.hamburger-menu span{
    position: relative;
    left: 8vw;
    margin: 2px;
    width: 5.6vw;
    height: 0.8vw;
    background-color: #0060AF;
    border-radius: 5px;
    transition: all 0.5s;
    z-index: 6;
}

.hamburger-menu span:nth-child(2){
    transform-origin: 0 0;
}

.hamburger-menu input:checked ~ span:nth-child(2){
    transform: rotate(45deg) translate(1vw, -1.5vw);
}

.hamburger-menu span:nth-child(4){
    transform-origin: 0 0;
}

.hamburger-menu input:checked ~ span:nth-child(4){
    transform: rotate(-45deg) translate(0.3vw, 1.3vw);
}

.hamburger-menu input:checked ~ span:nth-child(3){
    transform: scale(0);
    opacity: 0;
}

.notif-icon{
    width: 10%;
    display: flex;
    justify-content: center;
}

.notif-icon img{
    width: 2vw;
    height: auto;
    display: none;
}

.form-container{
    display: flex;
    flex-direction: column;
    /* width: 33%; */
    width: 33vw;
    gap: 2rem;
    margin-top: 13rem;
}

.main{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 6rem;
}

#error {
    color: red;
    font-size: 0.8em;
    text-align: center  ;
}

.login-extra{
    margin-top: 0.7rem;
    display: flex;
    justify-content: space-between;
    font-size: 0.75em;
    color: #0060AF;
}

.checkbox{
    gap: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-class {
    display: flex;
    flex-direction: column;
    gap: 0.313rem;
    color: #0060AF;
    font-weight: 500;
    font-size: 1.25em;
}

.contact{
    /* width: 33%; */
    display: flex;
    /* justify-content: space-around; */
    margin-top: 2rem;
    gap: 2.25rem;
}

.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1.563rem;
    width: 58.064516129032256vw;
    font-size: smaller;
    text-align: center;
}

.wa img {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 80px;
}

.img-contact{
    margin-bottom: 1.063rem;
}


.input {
    border: none;
    box-shadow: 0px 4px 10px rgb(184, 192, 197);
    border-radius: 12px;
    height: 7.965829145728644vh;
    text-align: left;
    padding-left: 3.125rem;
    font-size: 1.25em;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
  }

.login-button{
    cursor: pointer;
    color: white;
    background-color: #003465;
    height: 7.3728643216080405vh;
    border-radius: 30px;
    font-size: 1.25em;
}

::placeholder {
    opacity: 75%;
}

.footer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
}

.footer p {
    color: #1F6198;
    margin: 0.625rem;
}

.footer img{
    width: 5%;
}

@media screen and (max-width: 1024px) {
    .navbar {
        margin: 4rem;
    }
    .logo{
        width: 25%;
    }
    .home-icon{
        width: 5%;
    }
    .form-container{
        width: 40vw;
    }
    .section-class{
        font-size: 1.15em;
    }
    .input{
        font-size: 1.15em;
    }
    .login-extra{
        font-size: 0.7em;
    }
    .login-button{
        font-size: 1.15em;
    }
    .wa img{
        height: 70px;
    }

}  

@media screen and (max-width: 768px) {
    /* .navbar {
        margin: 3.5rem 4.5rem 0rem;
    } */
    .form-container{
        width: 47vw;
    }
    .section-class{
        font-size: 1.1em;
    }
    .input{
        font-size: 1.1em;
    }
    .login-extra{
        font-size: 0.6em;
    }
    .login-button{
        font-size: 1.1em;
    }
    .contact-container{
        font-size: 0.75em;
    }
}

@media screen and (max-width:576px){
    .navbar{
        display: flex;
        align-items: center;
        height: 7vw;
        justify-content: space-between;
    }

    .hamburger-menu{
        display: flex;
        width: 20%;
    }

    .menu-wrapper{
        display: flex;
        justify-content: end;
    }

    .menu{
        position: absolute;
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        top: 7vw;
        left: 0vw;
        height: 20vh;
        width: 100vw;
        background-color:#EEF7FC;
        transform: translateY(0);
        transition: all 1s;
    }
    
    .menu a{
        font-size: 13px;
    }
    .menu p{
        display: none;
    }

    .notif-icon img{
        width: 3vw;
        height: auto;
    }

    .home{
        width: 4vw;
    }
    .form-container{
        width: 65vw;
    }
    .section-class{
        font-size: 1em;
    }
    .input{
        font-size: 1em;
    }
    .login-button{
        font-size: 1em;
    }
    .contact-container{
        font-size: 0.65em;
    }
    .footer{
        font-size: 0.5em;
    }
    .wa img{
        height: 50px;
    }
}



/*mobile app copy navbar responsive*/


@media screen and (max-width:500px) {
    .hamburger-menu input:checked ~ span:nth-child(2){
        transform: rotate(45deg) translate(1vw, -1.5vw);
    }
    
    .hamburger-menu input:checked ~ span:nth-child(4){
        transform: rotate(-45deg) translate(0.5vw, 1.2vw);
    }
}

@media screen and (max-width:450px){
    .menu{
        display: none;
        height: 17vh;
    }

    .menu a{
        font-size: 12px;
      }
    
    .hamburger-menu input{
        width: 30px;
        height: 20px;
        left: 6vw;
    }
    
    .hamburger-menu span{
        left:6vw;
        width: 5.8vw;
        height: 0.7vw;
    }

    .hamburger-menu input:checked ~ span:nth-child(2){
        transform: rotate(45deg) translate(1vw, -1.5vw);
    }
    
    .hamburger-menu input:checked ~ span:nth-child(4){
        transform: rotate(-45deg) translate(0.5vw, 1.2vw);
    }
}

@media screen and (max-width:420px){
    .menu{
        display: none;
    }

    .hamburger-menu span{
        height: 0.8vw;
    }
}

@media screen and (max-width:370px){
    .menu{
        display: none;
    }
    
    .hamburger-menu span{
        height: 0.9vw;
    }

    .hamburger-menu input:checked ~ span:nth-child(2){
        transform: rotate(45deg) translate(1vw, -1vw);
    }
    
    .hamburger-menu input:checked ~ span:nth-child(4){
        transform: rotate(-45deg) translate(0.5vw, 0.7vw);
    }

}