.relative{
    position: relative;
    overflow: hidden;
}

a {
    text-decoration: none;
}

.navbar {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 6vw;
    /* justify-content: space-evenly; */
    background-color: #EEF7FC;
    position: fixed;
    z-index: 5;
}

.logo {
    display: flex;
    align-items: center;
    width: 30vw;
    margin-left: 0vw;
    justify-content: space-around;
    overflow: hidden;
}

.home{
    width: 3vw;
}

.menu {
    display: flex;
    align-items: center;
    width: 70vw;
    justify-content: space-around;
    margin-right: 0vw;
}


.menu a {
    font-size: 1.5vw;
    text-decoration: none;
    color: #0060AF;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.menu p{
    font-size: 1.5vw;
    text-decoration: none;
    color: #EEF7FC;
    opacity: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.logo-BCA {
    width: 15vw;
}

.menu img{
    width: 2vw;
    height: auto;
}

.notif-icon{
    cursor: pointer;
}

.slide-menu {
    z-index: 1;
    font-family: "Poppins", sans-serif;
    border-radius: 0 0 0 2vw;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 5vw;
    right: -25vw; 
    /* to hid the slide menu */
    width: 25vw;
    height: 10vw; 
    background-color: #DFEDF5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: right 0.3s ease-in-out;
    overflow-y: auto; 
    /* to enable scroll */
  } 

.bluebutton{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 13vw;
    height: 4vw;
    background-color: #0060AF;
    border-radius: 35px;
}

.bluebutton a{
    color: white;
    font-weight: 500;
    font-size: 1.5vw;
}