*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display : flex;
    overflow-x: hidden;
    flex-direction : column;
    min-height : 100vh;
    background-image: linear-gradient(to bottom, #EEF7FC 0%, #FCFFFF 30%);
    background-repeat: no-repeat;
    justify-content: space-between;
}

.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15vw;
    margin-left: 5vw;
    margin-right: 5vw;
    height: auto;
}

.title-page{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.title-page h1{
    color: rgba(31, 97, 152, 100%);
    font-size: 4.5vw;
    font-family: 'outfit', 'sans-serif';
    text-shadow: 0 4px 4px rgba(0, 0, 0, 25%);
    font-weight: 500;
}

.all-ellipse{
  position: relative;
  width: 100vw;
  height: 110vw;
}

.ellipse{
  font-family: 'outfit', sans-serif;
}

.container-ellipse{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 39.97222vw;
  height: 39.97222vw;
  position: absolute;
  top: 6vw;
  left: 8vw;
  border-radius: 50%;
  background-image: radial-gradient( #fff ,#DFEDF5 50%);
}

.container-ellipse:hover{
  background-image: radial-gradient( #fff ,#cae3f1 70%);
  box-shadow: 2px 2px 3px rgba(151, 151, 151, 0.4);

  h1{
    text-shadow: 0px 3px 3px rgba(58, 57, 57, 0.5);
  }
}


.container-ellipse img{
    width: 39.97222vw;
    height: 39.97222vw;
    width: 100%;
}

.container-ellipse .container-name{
  position: absolute;
  top: 15vw;
  left: 11vw;
}

.container-ellipse2 .container-name{
  position: absolute;
  top: 15.2vw;
  left: 11.8vw;
}

.container-ellipse3 .container-name{
  position: absolute;
  top: 13.8vw;
  left: 11.7vw;
}

.container-name{
    width: 18vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.container-name h1{
   font-size: 3.8vw;
   font-family: 'outfit', 'sans-serif';
   color: rgba(31, 97, 152, 100%);
   text-shadow: 0 4px 4px rgba(0, 0, 0, 25%);
   font-weight: 500;
}

.container-ellipse2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40.97222vw;
    height: 40.97222vw;
    position: absolute;
    top: 35vw;
    left: 52vw;
    border-radius: 50%;
    background-image: radial-gradient( #fff ,#DFEDF5 50%);
}

.container-ellipse2:hover{
  background-image: radial-gradient( #fff ,#cae3f1 70%);
  box-shadow: 2px 2px 3px rgba(151, 151, 151, 0.4);

  h1{
    text-shadow: 0px 3px 3px rgba(58, 57, 57, 0.5);
  }
}


.container-ellipse2 img{
  width: 40.97222vw;
  height: 40.97222vw;
  width: 100%;
}

.container-ellipse3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 41.97222vw;
    height: 41.97222vw;
    position: absolute;
    top: 65vw;
    left: 9vw;
    border-radius: 50%;
    background-image: radial-gradient( #fff ,#DFEDF5 50%);
}

.container-ellipse3:hover{
  background-image: radial-gradient( #fff ,#cae3f1 70%);
  box-shadow: 2px 2px 3px rgba(151, 151, 151, 0.4);

  h1{
    text-shadow: 0px 3px 3px rgba(58, 57, 57, 0.5);
  }
}

.container-ellipse3 img{
  width: 41.97222vw;
  height: 41.97222vw;
  width: 100%;
}

.footer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
    margin-top: 15vw;
}

.footer p {
    color: #1F6198;
    margin: 10px;
}

