*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display : flex;
    overflow-x: hidden;
    flex-direction : column;
    min-height : 100vh;
    background-image: linear-gradient(to bottom, #EEF7FC 0%, #FCFFFF 30%);
    background-repeat: no-repeat;
    justify-content: space-between;
}

.menu img{
    width: 2vw;
    height: auto;
}

.slide-menu {
    z-index: 1;
    font-family: "Poppins", sans-serif;
    border-radius: 0 0 0 2vw;
    position: fixed;
    display: flex;
    justify-content: center;
    top: 5vw;
    right: -25vw; 
    /* to hid the slide menu */
    width: 25vw;
    height: 30vw; 
    background-color: #DFEDF5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: right 0.3s ease-in-out;
    overflow-y: auto; 
    /* to enable scroll */
  } 
  
  
  .menuwrapper{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-top: 1vw;
    color: #0060AF;
    font-weight: 600;
    font-size: 0.65em;
  }
  
  .menuwrapper h2{
    font-size: 2.2vw;
    margin-top: 1vw;
    margin-bottom: 0.7vw;
  }
  
  .slide-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .slide-menu ul li {
    padding-top: 1vw;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    padding-bottom: 1vw;
    display: flex;
  }

  .slide-menu li{
    align-items: center;
  }
  
  .slide-menu ul li img {
    width: 3vw;
    height: 3vw;
    margin-right: 1vw;
  }
  
  .notification-content {
    flex: 1;
    font-size: 1.25em;
  }

  .notification-content p{
    margin: 0 auto;
  }
  
  .notification-date {
    font-size: 	0.9375em;
    font-style: italic;
    font-weight: 400;
  }
  
  .notifdivider{
    width: 100%;
    border-color: #0060AF;
  } 

.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15vw;
    margin-left: 5vw;
    margin-right: 5vw;
    height: auto;
}

.title-page{
    width: 50vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
}

.title-page h1{
    color: rgba(31, 97, 152, 100%);
    font-size: 4.5vw;
    font-family: 'outfit', 'sans-serif';
    text-shadow: 0 4px 4px rgba(0, 0, 0, 25%);
    font-weight: 500;
}

.all-ellipse{
  position: relative;
  width: 100vw;
  height: 100vw;
}

.ellipse{
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-ellipse{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40.97222vw;
  height: 40.97222vw;
  position: absolute;
  top: 6vw;
  left: 8vw;

}

.container-ellipse img{
    width: 40.97222vw;
    height: 40.97222vw;
    width: 100%;
}

.container-name{
    position: absolute;
    width: 5vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.container-name h1{
   font-size: 3.8vw;
   font-family: 'outfit', 'sans-serif';
   color: rgba(31, 97, 152, 100%);
   text-shadow: 0 4px 4px rgba(0, 0, 0, 25%);
   font-weight: 500;
}

.container-ellipse2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40.97222vw;
    height: 40.97222vw;
    position: absolute;
    top: 35vw;
    left: 52vw;
}

.container-ellipse2 img{
  width: 40.97222vw;
  height: 40.97222vw;
  width: 100%;
}

.container-ellipse3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40.97222vw;
    height: 40.97222vw;
    position: absolute;
    top: 65vw;
    left: 9vw;
}

.container-ellipse3 img{
  width: 40.97222vw;
  height: 40.97222vw;
  width: 100%;
}

.footer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
    margin-top: 15vw;
}

.footer p {
    color: #1F6198;
    margin: 10px;
}

